{% extends "sidebar.html" %}

{% block head %}
    <link rel="stylesheet" href="../../static/css/view_ticket.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
{% endblock %}

{% block content %}

  <h1>My Tickets</h1>
  <div>
		{% for incident in incidents %}
			<div class="incident-card">
				<h2>{{ incident.title }}</h2>
				<p>{{ incident.description }}</p>
				<button class="edit-btn"
                    data-id="{{ incident.id_num }}"
                    data-name="{{ incident.title }}"
                    data-description="{{ incident.description }}"
                    data-os="{{ incident.operating_sys }}"
                    data-worker="{{ incident.worker }}"
                    data-device="{{ incident.device }}"
                    data-status="{{ incident.status }}"
                >Edit</button>
			</div>
		{% endfor %}
	</div>
	
	<div id="edit-modal" style="display:none;">
		<div class="modal-content">
		  <h2>Edit Incident</h2>
		  <form id="edit-form">

			<label for="incident-status">Status:</label>
			<select id="incident-status">
				<option value="open">Open</option>
				<option value="closed">Closed</option>
			</select>
			<br>

			<label for="incident-name">Name:</label>
			<input type="text" id="incident-name" placeholder="Name" >
			<br>

			<label for="incident-description">Description:</label>
			<textarea id="incident-description" placeholder="Description"></textarea>
			<br>

            <label for="incident-os">Operating System:</label>
			<select id="incident-os">
                <option value="Windows">Windows</option>
                <option value="MacOS">MacOS</option>
                <option value="Linux">Linux</option>
            </select>
			<br>

            <label for="incident-worker">Worker:</label>
			<input type="text" id="incident-worker" placeholder="Worker">
			<br>


			<label for="incident-device">Device:</label>
			<input type="text" id="incident-device" placeholder="Device">
			<br>

			<button id="save-btn">Save Changes</button>
			<button id="cancel-btn">Cancel</button>
		  </form>
		</div>
	  </div>

{% endblock %}

{% block scripts %}
    <script src="../../static/js/view_tickets.js"></script>
{% endblock %}